/* ============================================================
   SCRIPT HEADER (DATABASE STRUCTURE AND DATA)

   DESCRIPTION:  Structure Definition Script for
   Tables:
      tblProducts, tblShippers, tblSupplier, tblCustomers, tblOrderDetails
      tblOrders

   DESCRIPTION:  Data Script for
   Tables:
      tblProducts, tblShippers, tblSupplier, tblCustomers, tblOrderDetails
      tblOrders

   DATABASE:	CEDAR.Orders2000
   DATE:		6/4/2006 9:09:37 PM
   =============================================================*/
create database Orders
go
use orders
go

-- Create Table tblCustomers
Print 'Create Table tblCustomers'
GO
Use Orders
Go
CREATE TABLE [dbo].[tblCustomers] (
		[CustomerID]       nvarchar(5) NOT NULL,
		[CompanyName]      nvarchar(40) NOT NULL,
		[ContactName]      nvarchar(30) NULL,
		[ContactTitle]     nvarchar(30) NULL,
		[Address]          nvarchar(60) NULL,
		[City]             nvarchar(15) NULL,
		[Region]           nvarchar(15) NULL,
		[PostalCode]       nvarchar(10) NULL,
		[Country]          nvarchar(15) NULL
		CONSTRAINT df_country DEFAULT 'Canada',
		[Phone]            nvarchar(24) NULL,
		[Fax]              nvarchar(24) NULL,
		PRIMARY KEY (CustomerID)
)
ON [PRIMARY]
GO

-- Create Table tblShippers
Print 'Create Table tblShippers'
GO
CREATE TABLE [dbo].[tblShippers] (
		[ShipperID]       int NOT NULL,
		[CompanyName]     nvarchar(40) NOT NULL,
	    PRIMARY KEY (ShipperID),
	    CONSTRAINT uc_CompanyName UNIQUE (CompanyName)
)
ON [PRIMARY]
GO

-- Create Table tblSupplier
Print 'Create Table tblSupplier'
GO
CREATE TABLE [dbo].[tblSupplier] (
		[SupplierID]     int NOT NULL,
		[Name]           nvarchar(50) NULL,
		[Address]        nvarchar(50) NULL,
		[City]           nvarchar(50) NULL,
		[Province]       nvarchar(50) NULL,
		Primary Key (SupplierID)
)
ON [PRIMARY]
GO

-- Create Table tblProducts
Print 'Create Table tblProducts'
GO
CREATE TABLE [dbo].[tblProducts] (
		[ProductID]           int NOT NULL,
		[SupplierID]          int NULL,
		[CategoryID]          int NULL,
		[ProductName]         nvarchar(40) NOT NULL,
		[EnglishName]         nvarchar(40) NULL,
		[QuantityPerUnit]     nvarchar(20) NULL,
		[UnitPrice]           money NULL,
		[UnitsInStock]        smallint NULL,
		[UnitsOnOrder]        smallint NULL,
		[ReorderLevel]        smallint NULL,
		[Discontinued]        bit NOT NULL,
		Primary Key (ProductID),
		FOREIGN KEY (SupplierID) REFERENCES tblSupplier
)
ON [PRIMARY]
GO

-- Create Table tblOrderDetails
Print 'Create Table tblOrderDetails'
GO
CREATE TABLE [dbo].[tblOrderDetails] (
		[OrderID]       int NOT NULL,
		[ProductID]     int NOT NULL,
		[UnitPrice]     money NOT NULL,
		[Quantity]      smallint NOT NULL,
		[Discount]      real NOT NULL,
		PRIMARY KEY (OrderID, ProductID),
		FOREIGN KEY (OrderID) REFERENCES tblOrders,
		FOREIGN KEY (ProductID) REFERENCES tblProducts,
		CONSTRAINT valid_QtyCheck CHECK (Quantity > 0)
)
ON [PRIMARY]
GO

-- Create Table tblOrders
Print 'Create Table tblOrders'
GO
CREATE TABLE [dbo].[tblOrders] (
		[OrderID]            int NOT NULL,
		[CustomerID]         nvarchar(5) NOT NULL,
		[EmployeeID]         int NULL,
		[ShipName]           nvarchar(40) NULL,
		[ShipAddress]        nvarchar(60) NULL,
		[ShipCity]           nvarchar(15) NULL,
		[ShipRegion]         nvarchar(15) NULL,
		[ShipPostalCode]     nvarchar(10) NULL,
		[ShipCountry]        nvarchar(15) NULL,
		[ShipVia]            int NULL,
		[OrderDate]          smalldatetime NULL,
		[RequiredDate]       smalldatetime NULL,
		[ShippedDate]        smalldatetime NULL,
		[Freight]            money NULL,
		PRIMARY KEY (OrderID),
		FOREIGN KEY (CustomerID) REFERENCES tblCustomers,
		FOREIGN KEY (ShipVia) REFERENCES tblShippers,
		CONSTRAINT valid_ShipDate CHECK (ShippedDate > tblOrders.OrderDate)
)
ON [PRIMARY]
GO



PRINT 'Deleting from table: tblCustomers'
DELETE FROM [dbo].[tblCustomers]
-- Deleting from table: tblOrderDetails
PRINT 'Deleting from table: tblOrderDetails'
DELETE FROM [dbo].[tblOrderDetails]
-- Deleting from table: tblOrders
PRINT 'Deleting from table: tblOrders'
DELETE FROM [dbo].[tblOrders]
-- Deleting from table: tblProducts
PRINT 'Deleting from table: tblProducts'
DELETE FROM [dbo].[tblProducts]
-- Deleting from table: tblShippers
PRINT 'Deleting from table: tblShippers'
DELETE FROM [dbo].[tblShippers]
-- Deleting from table: tblSupplier
PRINT 'Deleting from table: tblSupplier'
DELETE FROM [dbo].[tblSupplier]

-- Insert scripts for table: tblCustomers
PRINT 'Inserting rows into table: tblCustomers'
INSERT INTO [dbo].[tblCustomers] ([Region], [PostalCode], [Fax], [ContactName], [City], [CustomerID], [Address], [ContactTitle], [Phone], [CompanyName], [Country]) VALUES (NULL, N'12209', N'030-0076545', N'Maria Anders', N'Berlin', N'ALFKI', N'Obere Str. 57', N'Sales Representative', N'030-0074321', N'Alfreds Futterkiste', N'Germany')
INSERT INTO [dbo].[tblCustomers] ([Region], [PostalCode], [Fax], [ContactName], [City], [CustomerID], [Address], [ContactTitle], [Phone], [CompanyName], [Country]) VALUES (NULL, N'05021', N'(5) 555-3745', N'Ana Trujillo', N'México D.F.', N'ANATR', N'Avda. de la Constitución 2222', N'Owner', N'(5) 555-4729', N'Ana Trujillo Emparedados y helados', N'Mexico')
INSERT INTO [dbo].[tblCustomers] ([Region], [PostalCode], [Fax], [ContactName], [City], [CustomerID], [Address], [ContactTitle], [Phone], [CompanyName], [Country]) VALUES (NULL, N'05023', NULL, N'Antonio Moreno', N'México D.F.', N'ANTON', N'Mataderos  2312', N'Owner', N'(5) 555-3932', N'Antonio Moreno Taquería', N'Mexico')

-- Insert scripts for table: tblShippers
PRINT 'Inserting rows into table: tblShippers'
INSERT INTO [dbo].[tblShippers] ([ShipperID], [CompanyName]) VALUES (1, N'Speedy Express')
INSERT INTO [dbo].[tblShippers] ([ShipperID], [CompanyName]) VALUES (2, N'United Package')
INSERT INTO [dbo].[tblShippers] ([ShipperID], [CompanyName]) VALUES (3, N'Federal Shipping')

-- Insert scripts for table: tblOrders
PRINT 'Inserting rows into table: tblOrders'
INSERT INTO [dbo].[tblOrders] ([ShipName], [ShippedDate], [ShipPostalCode], [ShipCity], [ShipAddress], [ShipCountry], [OrderID], [ShipVia], [EmployeeID], [CustomerID], [OrderDate], [Freight], [RequiredDate], [ShipRegion]) VALUES (N'Franchi S.p.A.', '19910515 00:00:00', N'10100', N'Torino', N'Via Monte Bianco 34', N'Italy', 10000, 3, 6, N'FRANS', '19910510 00:00:00', 4.45, '19910607 00:00:00', NULL)
INSERT INTO [dbo].[tblOrders] ([ShipName], [ShippedDate], [ShipPostalCode], [ShipCity], [ShipAddress], [ShipCountry], [OrderID], [ShipVia], [EmployeeID], [CustomerID], [OrderDate], [Freight], [RequiredDate], [ShipRegion]) VALUES (N'Mère Paillarde', '19910523 00:00:00', N'H1J 1C3', N'Montréal', N'43 rue St. Laurent', N'Canada', 10001, 3, 8, N'MEREP', '19910513 00:00:00', 79.45, '19910610 00:00:00', N'Québec')
INSERT INTO [dbo].[tblOrders] ([ShipName], [ShippedDate], [ShipPostalCode], [ShipCity], [ShipAddress], [ShipCountry], [OrderID], [ShipVia], [EmployeeID], [CustomerID], [OrderDate], [Freight], [RequiredDate], [ShipRegion]) VALUES (N'Folk och fä HB', '19910517 00:00:00', N'S-844 67', N'Bräcke', N'Åkergatan 24', N'Sweden', 10002, 3, 3, N'FOLKO', '19910514 00:00:00', 36.18, '19910611 00:00:00', NULL)

-- Insert scripts for table: tblSupplier
PRINT 'Inserting rows into table: tblSupplier'
INSERT INTO [dbo].[tblSupplier] ([Province], [SupplierID], [Name], [City], [Address]) VALUES (NULL, 1, N'Supplier A', NULL, NULL)
INSERT INTO [dbo].[tblSupplier] ([Province], [SupplierID], [Name], [City], [Address]) VALUES (NULL, 2, N'Supplier B', NULL, NULL)
INSERT INTO [dbo].[tblSupplier] ([Province], [SupplierID], [Name], [City], [Address]) VALUES (NULL, 3, N'Supplier C', NULL, NULL)

-- Insert scripts for table: tblProducts
PRINT 'Inserting rows into table: tblProducts'
INSERT INTO [dbo].[tblProducts] ([SupplierID], [Discontinued], [CategoryID], [ReorderLevel], [ProductName], [ProductID], [QuantityPerUnit], [EnglishName], [UnitsInStock], [UnitsOnOrder], [UnitPrice]) VALUES (1, 0, 1, 10, N'Chai', 1, N'10 boxes x 20 bags', N'Dharamsala Tea', 39, 0, 18.0)
INSERT INTO [dbo].[tblProducts] ([SupplierID], [Discontinued], [CategoryID], [ReorderLevel], [ProductName], [ProductID], [QuantityPerUnit], [EnglishName], [UnitsInStock], [UnitsOnOrder], [UnitPrice]) VALUES (1, 0, 1, 25, N'Chang', 2, N'24 - 12 oz bottles', N'Tibetan Barley Beer', 17, 40, 19.0)
INSERT INTO [dbo].[tblProducts] ([SupplierID], [Discontinued], [CategoryID], [ReorderLevel], [ProductName], [ProductID], [QuantityPerUnit], [EnglishName], [UnitsInStock], [UnitsOnOrder], [UnitPrice]) VALUES (1, 0, 2, 25, N'Aniseed Syrup', 3, N'12 - 550 ml bottles', N'Licorice Syrup', 13, 70, 10.0)

-- Insert scripts for table: tblOrderDetails
PRINT 'Inserting rows into table: tblOrderDetails'
INSERT INTO [dbo].[tblOrderDetails] ([Quantity], [UnitPrice], [OrderID], [ProductID], [Discount]) VALUES (4, 27.0, 10000, 17, 00.0E+0)
INSERT INTO [dbo].[tblOrderDetails] ([Quantity], [UnitPrice], [OrderID], [ProductID], [Discount]) VALUES (30, 9.8, 10001, 25, 15.0E-2)
INSERT INTO [dbo].[tblOrderDetails] ([Quantity], [UnitPrice], [OrderID], [ProductID], [Discount]) VALUES (40, 12.8, 10001, 40, 00.0E+0)

Use Orders
CREATE TABLE [dbo].[tblEmployee](
EmployeeID Int IDENTITY NOT NULL ,
FirstName varchar (20) NOT NULL,
LastName varchar (20) NOT NULL,
Address varchar (50),
City varchar(20), Province varchar (50),
PostalCode char(6),
Phone char (10),
Salary Money NOT NULL,
Primary Key (EmployeeID))
Go
INSERT into tblEmployee
Values ('Jim', 'Smith', '123 Fake', 'Terrace', 'BC', 'V8G5J6', '2506155989', '20.12'),
('Jimmy', 'Smithy', '124 Fake', 'Terrace', 'BC', 'V8G5J7', '2506155984', '21.12'),
('John', 'Smore', '13 Fake', 'Terrace', 'BC', 'V4G5J6', '2506115989', '19.12'),
('Jay', 'Sith', '12 Fake', 'Terrace', 'BC', 'V8G4J6', '2506155939', '25.12'),
('Jig', 'Mith', '23 Fake', 'Terrace', 'BC', 'V8G5J5', '2506455989', '18.12');
Go

ALTER TABLE tblOrders
ADD Foreign Key (EmployeeID) references tblEmployee

UPDATE tblOrders
Set TotalSales = (select sum(unitprice*quantity*(1-discount))
FROM tblOrderDetails
WHERE tblOrderDetails.OrderID= tblOrders.OrderID
GROUP BY OrderID

SET NOEXEC OFF

